<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row col">
                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="img-fluid" alt="">
            </div>
            <div class="row mt-3 container">
                <div class="col-3">
                    <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="img-fluid" alt="">
                </div>
                <div class="col-3">
                    <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="img-fluid" alt="">
                </div>
                <div class="col-3">
                    <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="img-fluid" alt="">
                </div>
                <div class="col-3">
                    <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <h1 class="font-weight-bold">Tên sản phẩm</h1>
                <span class="font-weight-bold h4 ">$199</span>&nbsp;&nbsp;&nbsp;
                <span class="font-weight-bold h4 text-secondary price-sale"><del>$199</del></span>
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="info-product mt-5 container ">
        <ul class="row nav nav-tabs justify-content-center border-0" id="infoProductTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold border-0 active" id="add-info-tab" data-toggle="tab" href="#add-info" role="tab" aria-controls="add-info" aria-selected="true">ADDITIONAL INFORMATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold border-top" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review(10)</a>
            </li>
        </ul>
        <div class="tab-content mt-4 row justify-content-md-center" id="infoProductTabContent">
            <div class="tab-pane fade show text-left active" id="add-info" role="tabpanel" aria-labelledby="add-info-tab">
                <table class="table border-table-none">
                    <tr>
                        <th>Product</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Size and Fit</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Composition</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Care Info</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>Name Product</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>Name Product</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade text-left" id="review" role="tabpanel" aria-labelledby="review-tab">Tab review</div>
        </div>
    </div>