<article class="spacing-top">
    <div class="container contact page-title">
        <h1 class="text-center font-weight-bold">Get In Touch</h1>
        <div class="row justify-content-md-center">
            <h3 class="text-center font-weight-bold mt-3 col-lg-5">Contact us for any further questions, possible projects and business partnerships</h3>
        </div>
        <div class="row justify-content-md-center my-5">
            <div class="col-lg-3 text-center">
                <i class="far fa-tshirt icon-circle mb-4"></i>
                <h5 class="font-weight-bold">Let’s have a chat!</h5>
                <p class="mt-4">
                    <span>Telephone: 987.654.3210</span><br>
                    <span>Fax: 012.345.6789</span>
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="far fa-map-marker-alt icon-circle mb-4"></i>
                <h5 class="font-weight-bold">Visit our location</h5>
                <p class="mt-4">
                    362 Hoàng Diệu, Quận Hải Châu, TP.Đà Nẵng
                </p>

            </div>
            <div class="col-lg-3 text-center">
                <i class="far fa-user-alt icon-circle mb-4"></i>
                <h5 class="font-weight-bold">Looking for a career?</h5>
                <p class="mt-4">
                    Commodo ad sint hashtag, voluptate consequat vero veniam.
                </p>
            </div>
        </div>
        <div class="container-fluid mb-4">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.1759124678774!2d108.21482791421312!3d16.05635874404916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c9075cbac5%3A0xbe0fd8ef2c868ff2!2zMzYyIEhvw6BuZyBEaeG7h3UsIELDrG5oIFRodeG6rW4sIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1607329750304!5m2!1svi!2s"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</article>