.fade {
    transition: linear 0.3s;
}


/* Title form */

.login-register .nav .nav-link {
    background: none !important;
    color: #585858 !important;
    font-size: 50px;
}

.login-register .nav .nav-item .active {
    color: #000000 !important;
}

.login-register .nav .nav-item .active:hover {
    color: #000000 !important;
}

.login-register .nav .nav-item a:hover {
    color: #797878 !important;
}


/* Input name */

.login-register .form-group .input-name {
    font-size: 14px;
}


/* Button Submit */

.login-register .btn-submit {
    background-color: tomato;
    padding: 12px;
}


/* Text Custom */

.text-tomato {
    color: tomato;
}


/* Custom checkbox */

.login-register .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: tomato!important;
}

.login-register .custom-checkbox .custom-control-input:checked:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #ff6347c9;
    border: 1px solid tomato;
}

.login-register .custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #ff6347c9;
    border: 1px solid tomato !important;
}

.login-register .custom-checkbox .custom-control-input:active~.custom-control-label::before {
    background-color: #ff6347c9;
}