<article class="spacing-top">
    <div class="container">
        <div class="bg-white shadow-lg">
            <div class="p-5">
                <div class="container px-5 mb-5">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="page-title text-center mt-5">
                                <h1 class="font-weight-bold">FAQs</h1>
                                <div class="row justify-content-md-center">
                                    <p class="mt-3 text-secondary">The FAQ element allows you to build expandable text-based Q&A blocks. It similar to the Accordion element, which is more flexible when it comes to mixing the content inside the expandable blocks. The FAQs are built
                                        for text-based purposes only.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="accordion" id="FAQs-accordion">
                                    <div class="col">
                                        <div class="card border-0">
                                            <div class="card-header bg-white border-0" id="FAQ1">
                                                <h2 class="mb-0">
                                                    <button class="text-decoration-none btn btn-link btn-block text-left border-0 shadow-none font-weight-bold text-dark" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                <h4 class="font-weight-bold">Mua hàng như thế nào?</h4>
                                              </button>
                                                </h2>
                                            </div>
                                            <div id="collapse1" class="collapse" aria-labelledby="FAQ1" data-parent="#FAQs-accordion">
                                                <div class="card-body text-justify">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <div class="card-header bg-white border-0" id="FAQ2">
                                                <h2 class="mb-0">
                                                    <button class="text-decoration-none btn btn-link btn-block text-left border-0 shadow-none font-weight-bold text-dark" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                <h4 class="font-weight-bold">Trả hàng như thế nào?</h4>
                                              </button>
                                                </h2>
                                            </div>
                                            <div id="collapse2" class="collapse" aria-labelledby="FAQ2" data-parent="#FAQs-accordion">
                                                <div class="card-body text-justify">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>