<div class="dashboard-home">
    <section class="dashboard-info">
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-left border-0 bg-none shadow text-white">
                    <div class="card-body bg-secondary rounded">
                        <h6 class="card-title font-weight-bold">Sản phẩm</h6>
                        <p class="card-text font-weight-bold h4">38</p>
                        <a href="/admin/product-manager" class="text-uppercase text-white text-decoration-none">Xem chi tiết <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-left border-0 bg-none shadow text-white">
                    <div class="card-body bg-success rounded">
                        <h6 class="card-title font-weight-bold">Khách hàng</h6>
                        <p class="card-text font-weight-bold h4">72</p>
                        <a href="/admin/customer-manager" class="text-uppercase text-white text-decoration-none">Xem chi tiết <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-left border-0 bg-none shadow text-white">
                    <div class="card-body bg-warning rounded">
                        <h6 class="card-title font-weight-bold">Danh mục</h6>
                        <p class="card-text font-weight-bold h4">72</p>
                        <a href="#" class="text-uppercase text-white text-decoration-none">Xem chi tiết <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-left border-0 bg-none shadow text-white">
                    <div class="card-body bg-info rounded">
                        <h6 class="card-title font-weight-bold">Đơn hàng</h6>
                        <p class="card-text font-weight-bold h4">72</p>
                        <a href="/admin/order-manager" class="text-uppercase text-white text-decoration-none">Xem chi tiết <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dashboard-order mt-5">
        <div class="text-center mb-4">
            <h3 class="font-weight-bold">Đơn đặt hàng mới nhất</h3>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">STT</th>
                    <th scope="col">ID đơn hàng</th>
                    <th scope="col">ID khách hàng</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Đã thanh toán</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Chưa thanh toán</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>