<div class="container">
    <div class="product-page-title mb-5">
        <h1 class="text-center font-weight-bold text-dark">Category Name</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <app-filter-bar></app-filter-bar>
        </div>
        <div class="col-lg-9">
            <section class="product">
                <div class="product-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="#" class="card rounded-0 border-0 text-decoration-none">
                                <img src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" class="card-img rounded-0" alt="product">
                                <div class="card-img-overlay badge-new-sales">
                                    <h6><span class="badge badge-sales">19%</span></h6>
                                    <h6><span class="badge badge-new">New</span></h6>
                                </div>
                                <div class="card-img-overlay text-white row align-items-end" style="height: 70%;">
                                    <div class="text-center view-whislist-icon mx-auto">
                                        <a href="#" class="text-secondary h6 px-2 border-right view-icon"><i class="far fa-eye"></i></a>
                                        <a href="#" class="text-secondary h6 px-2 whislist-icon"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-dark border-0">
                                    <h6 class="product-name">Name Product</h6>
                                    <div class="product-options-color mb-2 bg-white">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-dark product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-danger product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-primary product-color"></a>
                                            </div>
                                            <div class="btn-group mr-2" role="group">
                                                <a href="#" type="button" class="btn btn-warning product-color"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="switch-up">
                                        <div class="product-price">
                                            <span class="font-weight-bold text-secondary"><del>$199</del>&nbsp;&nbsp;</span>
                                            <span class="font-weight-bold text-secondary">$199</span>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="#" class="font-weight-bold text-uppercase h5 text-decoration-none">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>