<section class="forgot-password">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-5">
                <form>
                    <h1 class="text-center font-weight-bold mb-4 text-uppercase">Get your password!</h1>
                    <div class="form-group">
                        <label for="username" class="text-uppercase h6 font-weight-bold text-secondary input-name">Username *</label>
                        <input type="text" class="form-control rounded-0 shadow-none" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-uppercase h6 font-weight-bold text-secondary input-name">Email *</label>
                        <input type="password" class="form-control rounded-0 shadow-none" id="password">
                    </div>
                    <button type="submit" class="btn shadow-none font-weight-bold btn-block rounded-0 btn-submit text-white">Get your password</button>
                </form>
            </div>
        </div>
    </div>
</section>