.back-to-top button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    z-index: 10;
}


/* Desktop */

@media (min-width: 1200px) {
    .footer-main {
        width: 500px;
    }
}


/* Device horizontal rotation */

@media (min-width: 768px) and (max-width: 992px) {}


/* Tablet */

@media (min-width: 576px) and (max-width: 768px) {}


/* Mobile */

@media (max-width: 576px) {}


/* Social icon */

.social-icon {
    font-size: 25px;
}