.header-icon {
    font-size: 20px;
}

.search-bar .btn-search:hover,
.search-bar .btn-close:hover {
    background-color: white !important;
    color: #000000 !important;
}


/* Dropdown */

.dropdown>.dropdown-menu {
    top: 30px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item:hover>.dropdown-menu {
    display: block;
}

ul li {
    list-style-type: none;
    display: inline;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.ml-auto {
    display: inline-block!important;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.navbar {
    background: #fffffff8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .175)!important;
}