.header-icon {
    font-size: 20px;
}

.search-bar .btn-search:hover,
.search-bar .btn-close:hover {
    background-color: white !important;
    color: #000000 !important;
}


/* Dropdown */

.dropdown>.dropdown-menu {
    top: 30px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item:hover>.dropdown-menu {
    display: block;
}

ul li {
    list-style-type: none;
    display: inline;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.ml-auto {
    display: inline-block!important;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}


/* Desktop */

@media (min-width: 992px) {
    .menu-scroll {
        background: #fffffff8;
        box-shadow: 0px 5px 20px #00000015!important;
        transition: all 0.4s;
    }
    .menu-main .nav-link {
        transition: all 0.3s;
    }
}


/* Device horizontal rotation */

@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        background: #fffffff8;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, .175)!important;
    }
    .menu-main .nav-link {
        color: #000000 !important;
    }
}


/* Tablet */

@media (min-width: 576px) and (max-width: 768px) {
    .navbar {
        background: #fffffff8;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, .175)!important;
    }
    .menu-main .nav-link {
        color: #000000 !important;
    }
}


/* Mobile */

@media (max-width: 576px) {
    .navbar {
        background: #fffffff8;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, .175)!important;
    }
    .menu-main .nav-link {
        color: #000000 !important;
    }
}