/* Desktop */

@media (min-width: 1200px) {
    /* Slide */
    .slide-main img {
        height: 400px;
    }
}


/* Device horizontal rotation */

@media (min-width: 768px) and (max-width: 992px) {
    /* Slide */
    .slide-main img {
        height: 300px;
    }
}


/* Tablet */

@media (min-width: 576px) and (max-width: 768px) {
    /* Slide */
    .slide-main img {
        height: 300px;
    }
}


/* Mobile */

@media (max-width: 576px) {
    /* Slide */
    .slide-main img {
        height: 150px;
    }
}